-
    const defaultMColumnsProps = {
        classes: '',
        title: '<h3>Сведения о&nbsp;наличии оборудованных учебных кабинетов, объектов для&nbsp;проведения практических занятий</h3>',
        titlePosLeft: 'true',
        subtitle: '',
        noContent: false
    }

mixin m-columns(props= defaultMColumnsProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultMColumnsProps.classes,
            title: props.title ? props.title : defaultMColumnsProps.title,
            titlePosLeft: props.titlePosLeft ? props.titlePosLeft : defaultMColumnsProps.titlePosLeft,
            subtitle: props.subtitle ? props.subtitle : defaultMColumnsProps.subtitle,
            noContent: props.noContent ? props.noContent : defaultMColumnsProps.noContent,
        }

        let columnDirClass = checkProps.titlePosLeft == 'true' ? '' : ' m-columns--column'
        let subtitleClass =  checkProps.subtitle.length < 1 ? '' : ' m-columns--subtitle'

    .m-columns(class= `${checkProps.classes} ${columnDirClass} ${subtitleClass}`)&attributes(attributes)
        - if(checkProps.subtitle.length > 0)
            .m-columns__subtitle!= checkProps.subtitle
        .m-columns__header.text-editor!= checkProps.title
        - if(checkProps.noContent !== true)
            .m-columns__main.text-editor
                block


