extends ../layouts/default

block variables
	- const title = "Об университете"

block content
	.page
		+sidebar-layout(true)
			.sidebar-layout__block
				+page-intro({
					title: 'Об университете',
					breadcrumbs: {
						items: [
							{
								name: 'Главная',
								link: 'javascript:void(0);'
							},
							{
								name: 'Об университете',
								link: 'javascript:void(0);'
							}
						],
					}
				})

				.sidebar-layout__content
					+m-columns({
						title: '<h3>Полное наименование образовательной организации</h3>'
					})
						p 
							b ФЕДЕРАЛЬНОЕ ГОСУДАРСТВЕННОЕ БЮДЖЕТНОЕ ОБРАЗОВАТЕЛЬНОЕ УЧРЕЖДЕНИЕ ВЫСШЕГО ОБРАЗОВАНИЯ "ХЕРСОНСКИЙ АГРАРНЫЙ УНИВЕРСИТЕТ"
					+m-columns({
						title: '<h2>Сокращенное наименование образовательной организации (при наличии)</h2>'
					})
						p 
							b Херсонский аграрный университет
					+m-columns({
						title: '<h2>Дата создания образовательной организации:</h2>'
					})
						p 
							b 1 сентября 1874 г.

			.sidebar-layout__block
				h2.sidebar-layout__block-title Учредитель (учредители) образовательной организации

				.sidebar-layout__content
					+m-columns({
						title: '<h3>Наименование учредителя</h3>'
					})
						p 
							b Минсельхоз России
					+m-columns({
						title: '<h3>Фамилия, имя, отчество учредителя (руководителя учредителя) (ей) образовательной организации</h3>'
					})
						p 
							b Лут Оксана Николаевна
					+m-columns({
						title: '<h3>Адрес местонахождения учредителя(ей)</h3>'
					})
						p 
							b 107139, г. Москва, пер. Орликов, 1/11
					+m-columns({
						title: '<h3>Контактные телефоны</h3>'
					})
						a(href="tel:+74956078000") 
							b +7 (495) 607-80-00 
					+m-columns({
						title: '<h3>Адрес электронной почты</h3>'
					})
						a(href="mailto:info@mcx.gov.ru") 
							b info@mcx.gov.ru
					+m-columns({
						title: '<h3>Адрес сайта учредителя(ей) в сети «Интернет»</h3>'
					})
						a(href="https://mcx.gov.ru/") 
							b https://mcx.gov.ru/

			.sidebar-layout__block
				h2.sidebar-layout__block-title Информация о месте нахождения образовательной организации

				.sidebar-layout__content
					+m-columns({
						title: '<h3>Юридический адрес:</h3>'
					})
						p 
							b 273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23
					+m-columns({
						title: '<h3>Фактический адрес:</h3>'
					})
						p 
							b 273003, Херсонская Область, г.о. Херсонский, г. Херсон, ул. Сретенская, д. 23

			.sidebar-layout__block
				h2.sidebar-layout__block-title Информация о режиме и графике работы образовательной организации

				.sidebar-layout__content
					+m-columns({
						title: '<h3>— при 5-и дневной рабочей неделе:</h3>'
					})
						p 
							b Начало работы - 9:30
								<br>Перерыв на обед - 13:00 – 13:45
								<br>Окончание работы - 18:30
								<br>Окончание работы в предвыходные и предпраздничные дни - 17:15

					+m-columns({
						title: '<h3>— при 6-и дневной рабочей неделе:</h3>'
					})
						p 
							b Начало работы - 9:30
								<br>Перерыв на обед - 13:00 – 13:45
								<br>Окончание работы - 17:15
								<br>Окончание работы в предвыходные и предпраздничные дни - 15:15 

			.sidebar-layout__block
				h2.sidebar-layout__block-title Информация о контактных телефонах образовательной организации, об адресах электронной почты образовательной организации

				.sidebar-layout__content
					.gost-section.gost-section--bordered.text-editor
						p 
							b Контактные телефоны: 
								a(href="tel:+79900595039") +79900595039
								<br>Факс: +7 (499) 111-11-11
								<br>Адреса электронной почты: 
									a(href="mailto:pk.khau@yandex.ru") pk.khau@yandex.ru

			.sidebar-layout__block
				.sidebar-layout__content
					.gost-section.text-editor
						.gost-section__text
							p 
								b Информация о филиалах образовательной организации (в том числе находящихся за пределами Российской Федерации)
							p
								b -

							p 
								b Информация о представительствах образовательной организации (в том числе находящихся за пределами Российской Федерации)

							p 
								b -

							p  
								b Информация о местах осуществления образовательной деятельности, в том числе сведения об адресах мест осуществления образовательной деятельности, которые в соответствии с частью 4 статьи 91 Федерального закона от 29 декабря 2012 г. № 273-ФЗ "Об образовании в Российской Федерации" не включаются в соответствующую запись в реестре лицензий на осуществление образовательной деятельности   

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места осуществления образовательной деятельности, которые включаются в соответствующую запись в реестре  лицензий на осуществление образовательной деятельности</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"4",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"5",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места осуществления образовательной деятельности при использовании сетевой формы реализации образовательных программ</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"4",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"5",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места проведения практики</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места проведения практической подготовки обучающихся</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места проведения практической подготовки обучающихся</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места проведения государственной итоговой аттестации</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места осуществления образовательной деятельности по дополнительным образовательным программам</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})

					.gost-section.gost-section--bordered.text-editor
						.gost-section__title!= '<h2>Места осуществления образовательной деятельности по основным программам профессионального обучения</h2>'
						+info-tag
						+m-table({
							header: [								
								"№",
								"Наименование объекта",
								"Адрес места осуществления образовательной деятельности",
								"Назначение объекта",
							],

							rows: [
								[
									"1",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"2",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								],
								[
									"3",
									"Учебно-административный корпус",
									"г.Херсон, Сретенская улица, 23",
									"Учебно-административный корпус"
								]
							]
						})   

			.sidebar-layout__block
				.sidebar-layout__block-title О местах осуществления образовательной деятельности
				.sidebar-layout__content
					.gost-section.text-editor
						.gost-section__text
							a(href="#") Сведения об оборудованных учебных кабинетах, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья                         