extends ../layouts/default

block variables
    - const title = "Стипендии и меры поддержки обучающихся"

block content
    .page
        +sidebar-layout
            +page-intro({
                title: '<span>Стипендии</span> и меры поддержки обучающихся',
                breadcrumbs: {
                    items: [
                        {
                            name: 'Главная',
                            link: 'javascript:void(0);'
                        },
                        {
                            name: 'Стипендии и меры поддержки обучающихся',
                            link: 'javascript:void(0);'
                        }
                    ],
                } 
            })
            .sidebar-layout__content
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Сведения о наличии и условиях предоставления обучающимся стипендий</h2>'
                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Виды стипендий</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Вид стипендии",
                            "Назначение",
                            "Основание для прекращения выплаты",
                            "Дополнительная информация"
                        ],

                        rows: [
                            [
                                "1",
                                "Государственная академическая стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Получение оценки «удовлетворительно» в период промежуточной аттестации, наличие академической задолженности, отчисление, академический отпуск",
                                "Назначается всем студентам 1 курса, обучающимся по очной форме обучения за счёт средств федерального бюджета, в период, с начала учебного года до прохождения первой промежуточной аттестации; <br>Назначается студентам 1 курса 2 семестра обучения и последующим курсам обучения по результатам промежуточной аттестациипри условии отсутствия оценок «удовлетворительно» и отсутствия академической задолженности"
                            ],
                            [
                                "2",
                                "Повышенная государственная академическая стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Получение оценки «удовлетворительно» в период промежуточной аттестации, наличие академической задолженности, отчисление, академический отпуск",
                                "Назначается студентам, обучающимся по очной форме обучения за счет средств федерального бюджета по образовательным программам высшего образования (программам бакалавриата, специалитета, магистратуры), в том числеобучающимся - иностранным гражданам и лицам без гражданства, за особые достижения в учебной, научно-исследовательской, общественной, культурно-творческой и спортивной деятельности. Данный вид стипендии назначается на конкурсной основе."
                            ],
                            [
                                "3",
                                "Государственная социальная стипендия",
                                "С даты подачи заявления студентом на срок действия основания для ее назначения",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия",
                                "Назначается обучающимся по очной форме на бюджетной основе, относящимся к социальным категориям"
                            ],
                            [
                                "4",
                                "Повышенная государственная социальная стипендия",
                                "Назначается на 1 семестр, выплачивается ежемесячно",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия, получение оценки «удовлетворительно» или наличие академической задолженности",
                                "Назначается студентам 1 и 2 курса обучения, обучающимся по программам высшего образования (бакалавриат, специалитет), получающим государственную социальную стипендию и имеющим оценки «хорошо», «хорошо» и «отлично», «отлично» по итогам промежуточной аттестации."
                            ],
                            [
                                "5",
                                "Стипендии Правительства Российской Федерации",
                                "Назначается на один учебный год, выплачивается ежемесячно",
                                "Отчисление обучающегося",
                                "Назначается обучающимся по очной форме обучения за счет средств федерального бюджета по образовательным программам высшего образования (бакалавриата, специалитета, магистратуры), а также по программам подготовки научно-педагогических кадров в аспирантуре, проявившим выдающиеся способности в учебной и научной деятельности как в целом по курсу обучения, так и по отдельным дисциплинам."
                            ],
                            [
                                "6",
                                "Стипендия Президента Российской Федерации",
                                "Назначается на один учебный год, выплачивается ежемесячно",
                                "Отчисление обучающегося",
                                "Назначается обучающимся по очной форме обучения за счет средств федерального бюджета по образовательным программам высшего образования (бакалавриата, специалитета, магистратуры), а также по программам подготовки научно-педагогических кадров в аспирантуре, выдающиеся успехи которых в учебе и научных исследованиях подтверждены дипломами (или другими документами) победителей всероссийских и международных олимпиад, творческих конкурсов, фестивалей или являющиеся авторами открытий, двух и более изобретений, научных статей в центральных изданиях Российской Федерации и за рубежом."
                            ],
                            [
                                "7",
                                "Стипендия Правительства Российской Федерации по приоритетным направлениям",
                                "С даты подачи заявления студентом на срок действия основания для ее назначения",
                                "Отчисление, прекращение действия основания по которому была назначена государственная социальная стипендия",
                                "Критерии, которым должны удовлетворять претенденты, подробно описаны  в Постановлении Правительства Российской Федерации от 3 ноября 2015 г. № 1192"
                            ],
                            [
                                "8",
                                "Стипендия ПрезидентаРоссийской Федерации по приоритетным направлениям",
                                "Назначается на один учебный год, выплачивается ежемесячно",
                                "Отчисление обучающегося",
                                "Критерии, которым должны удовлетворять претенденты, подробно описаны в Постановлении Правительства Российской Федерации от 27 августа 2016 г. № 854"
                            ],
                        ]
                    })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Федеральные нормативные акты</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ Минобрнауки России от 27.12.2016 № 1663'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ Минобрнауки России от 15.08.2022 № 777'
                        }) 
                        +link-block({
                            classes: '',
                            text: 'Постановление Правительства России от 03.15.2015 № 1192'
                        })
                        +link-block({
                            classes: '',
                            text: 'Постановление Правительства России от 27.08.2016 № 854'
                        })
                        +link-block({
                            classes: '',
                            text: 'Копия постановления Правительства РФ от 17.12.2016 №1390 "О формировании стипендиального фонда" (В редакции Постановления Правительства Российской Федерации от 28.06.2021 №1033)'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Приказ об установлении стипендий студентам на учебный год</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ об установлении размеров стипендий'
                        })
                        +link-block({
                            classes: '',
                            text: 'Приказ об установлении размеров повышенных стипендий'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Приказ о создании стипендиальной комиссии на учебный год</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Приказ по основной деятельности № 0990-ОД от 31.08.2023 Об утверждении состава стипендиальной комиссии университета'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положение о стипендиальной комиссии</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>График выплаты стипендий</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положения о назначении государственной академической стипендии и государственной социальной стипендии студентам (бакалаврам, специалистам и магистрам), государственной стипендии аспирантам и стипендии слушателям подготовительного отделения</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о стипендиальном обеспечении и других формах материальной поддержки обучающихся'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Иные локальные нормативные акты</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Положение о порядке оказания материальной поддержки нуждающимся обучающимся '
                        })
                        +link-block({
                            classes: '',
                            text: 'Положение об именной стипендии'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Меры социальной поддержки</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Вид социальной поддержки",
                            "Назначение",
                            "Основание для прекращения выплаты",
                            "Дополнительная информация"
                        ],

                        rows: [
                            [
                                "1",
                                "Выплаты категориям лиц из числа детей-сирот и детей, оставшихся без попечения родителей, лицам из числа детей-сирот и детей, оставшихся без попечения родителей,лицам, потерявшим в период обучения обоих родителей или единственного родителя, обучающимся по очной форме обучения за счет бюджетных ассигнований федерального бюджета",
                                "Для лиц, имеющих статус на момент поступления назначение производится автоматически. В случае приобретения статуса в период обучения на основании письменного заявления",
                                "Отчисление обучающегося, уход в академический отпуск в связи с призывом на военную службу или по обстоятельствам личного характера.",
                                "В период обучения из средств федерального бюджета (публичных обязательств) выплачивается: <br><br>- ежемесячная дотация на питание;<br><br>- ежегодное пособие на приобретение учебной литературы и письменных принадлежностей в размере трехмесячной государственной социальной стипендии; <br><br>- денежная выплата (пополнение) на обеспечение комплектом одежды, обуви и мягким инвентарем; <br><br>- денежная компенсация расходов напроезд на городском, пригородном транспорте, а также на проезд один раз в год к месту жительства и обратно к месту учебы."
                            ],
                            [
                                "2",
                                "Материальная поддержка из средств стипендиального фонда",
                                "На основании личного заявления при наличии соответствующего основания, как правило, не более 1 раза в календарный год",
                                "",
                                "Подробный перечень оснований для оказания материальной поддержки и порядок подачи заявлений определен Положением о порядке оказания материальной поддержки нуждающимся обучающимся университета"
                            ]
                        ]
                    })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Сведения о наличии общежития, интерната, количестве жилых помещений в общежитии, интернате для иногородних обучающихся</h2>'
                    +info-tag
                    +m-table({
                        header: [								
                            "№",
                            "Наименование показателя",
                            "Общежитий",
                            "Интернатов"
                        ],

                        rows: [
                            [
                                "1",
                                "Количество: <br>всего <br>в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "<br>1<br><br>1",
                                "—",
                            ],
                            [
                                "2",
                                "Общая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "3",
                                "Жилая площадь (кв.м.)",
                                "123",
                                "—",
                            ],
                            [
                                "4",
                                "Количество мест: <br>всего <br>в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья",
                                "<br>221<br><br>11",
                                "—",
                            ],
                            [
                                "5",
                                "Обеспеченность 100% мягкими и жестким инвентарем по установленным стандартным нормам",
                                "да",
                                "—",
                            ],
                            [
                                "6",
                                "Наличие питания (включая буфеты, столовые)",
                                "да",
                                "—",
                            ]
                        ]
                    })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Информация о наличии условий для беспрепятственного доступа в общежития, интернаты</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего распорядка в студенческом городке'
                        })

                        .text-items-list__note Допуск в общежитие осуществляется по&nbsp;пропуску установленного образца в&nbsp;круглосуточном режиме

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Договор найма жилого помещения в студенческом общежитии, интернате</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Об утверждении типовых форм договоров найма жилого помещения в студенческом городке'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положение о студенческом общежитии, интернате</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего распорядка в студенческом городке'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Положение о порядке предоставления обучающимся жилых помещений в общежитиях</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Правила внутреннего распорядка в студенческом городке'
                        })

                +m-columns({
                    title: '<h2>Дополнительная информация о наличии общежития, интерната для иногородних обучающихся, в том числе приспособленных для использования инвалидами и лицами с ограниченными возможностями здоровья</h2>'
                })
                    .text-items-list
                        +count-block({
                            text: 'Оборудовано койко-мест для проживания лиц с ограниченными возможностями здоровья',
                            num: '7',
                            vMode: 'column'
                        })

                +m-columns({
                    titlePosLeft: 'false',
                    title: '<h2>Информация о формировании платы за проживание в общежитии, в том числе копии локальных нормативных актов, определяющих размер платы за пользование жилым помещением и коммунальные услуги в общежитии для обучающихся, принимаемых с учетом мнения советов обучающихся и представительных органов обучающихся в организации, осуществляющей образовательную деятельность</h2>'
                })
                    .text-items-list
                        +link-block({
                            classes: '',
                            text: 'Размер платы для обучающихся на бюджетной основе'
                        })
                        +link-block({
                            classes: '',
                            text: 'Размер платы для обучающихся на платной договорной основе'
                        })

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h2>Сведения о трудоустройстве выпускников, с указанием численности трудоустроенных выпускников от общей численности выпускников в прошедшем учебном году, для каждой реализуемой образовательной программы, по которой состоялся выпуск</h2>'
                    .gost-section__title!= '<h3>Бакалавриат</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th  class="_subtitle" colspan="3">2022-2023 учебный год</th>
                                <th  class="_subtitle" colspan="3">2021-2022 учебный год</th>
                                <th  class="_subtitle" colspan="3">2020-2021 учебный год</th>
                            </tr>
                            <tr>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Магистратура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th  class="_subtitle" colspan="3">2022-2023 учебный год</th>
                                <th  class="_subtitle" colspan="3">2021-2022 учебный год</th>
                                <th  class="_subtitle" colspan="3">2020-2021 учебный год</th>
                            </tr>
                            <tr>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>

                .gost-section.gost-section--bordered.text-editor
                    .gost-section__title!= '<h3>Аспирантура</h3>'
                    +info-tag
                    .m-table.m-table--columns(data-js="mTable")
                        <table>
                            <thead>
                            <tr>
                                <th rowspan="2">№</th>
                                <th rowspan="2">Код профессии, специальности, направления подготовки, научной специальности, шифр группы научных специальностей</th>
                                <th rowspan="2">Наименование профессии, специальности, направления подготовки наименование группы научных специальностей</th>
                                <th rowspan="2">Образовательная программа, направленность, профиль, шифр и наименование научной специальности</th>
                                <th  class="_subtitle" colspan="3">2022-2023 учебный год</th>
                                <th  class="_subtitle" colspan="3">2021-2022 учебный год</th>
                                <th  class="_subtitle" colspan="3">2020-2021 учебный год</th>
                            </tr>
                            <tr>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                                <th>Количество выпускников</th>
                                <th>Направлено на&nbsp;места трудоустройства</th>
                                <th>Количество трудоустроенных выпускников</th>
                            <tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>1</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>38.03.02</td>
                                <td>Менеджмент</td>
                                <td>Менеджмент организаций</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                                <td>32</td>
                                <td>15</td>
                                <td>10</td>
                            </tr>
                            </tbody>
                        </table>       