-
    const defaultNewsCardProps = {
        classes: '',
        img: 'img/news/news_1.webp',
        title: 'Студентам университета рассказали о&nbsp;противодействии коррупции',
        date: '04 сентября 2024',
        desc: ''
    }

mixin news-card(props = defaultNewsCardProps)
    -
        const checkProps = {
            classes: props.classes ? props.classes : defaultNewsCardProps.classes,
            img: props.img ? props.img : defaultNewsCardProps.img,
            title: props.title ? props.title : defaultNewsCardProps.title,
            date: props.date ? props.date : defaultNewsCardProps.date,
            desc: props.desc ? props.desc : defaultNewsCardProps.desc,
        }

    .news-card(class=checkProps.classes)
        .news-card__img 
            img(src=checkProps.img alt="")
        .news-card__content
            a.h2.news-card__title(href="#")!= checkProps.title
            .news-card__date!= checkProps.date
            .news-card__footer
                if(checkProps.desc.length > 0)
                    .news-card__desc.text-editor!= checkProps.desc
                +btn-plus
